
# Turn it on
RewriteEngine On

# /
RewriteRule ^/ ./index.php

# ?page=page-name
RewriteRule ^([0-9a-zA-Z_-]+)$ ./index.php?page=$1

# ?page=project&slug=project-slug
RewriteRule ^projects/([0-9a-zA-Z_-]+)$ ./index.php?page=project&slug=$1